<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Bilan-energétique-complet---Eurostat-nrg_bal_c.tsv" data-toc-modified-id="Bilan-energétique-complet---Eurostat-nrg_bal_c.tsv-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Bilan energétique complet - Eurostat nrg_bal_c.tsv</a></span><ul class="toc-item"><li><span><a href="#Exploration" data-toc-modified-id="Exploration-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Exploration</a></span></li><li><span><a href="#Split-de-la-première-colonne" data-toc-modified-id="Split-de-la-première-colonne-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Split de la première colonne</a></span></li><li><span><a href="#Ajout-des-nouvelles-colonnes-au-dataframe" data-toc-modified-id="Ajout-des-nouvelles-colonnes-au-dataframe-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Ajout des nouvelles colonnes au dataframe</a></span></li><li><span><a href="#Sélection-de-l'unité-en-Kilo-Tonne-équivalent-pétrole" data-toc-modified-id="Sélection-de-l'unité-en-Kilo-Tonne-équivalent-pétrole-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Sélection de l'unité en Kilo Tonne équivalent pétrole</a></span></li><li><span><a href="#Création-dataframe-final-avant-prétraitement-des-données" data-toc-modified-id="Création-dataframe-final-avant-prétraitement-des-données-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Création dataframe final avant prétraitement des données</a></span><ul class="toc-item"><li><span><a href="#Création-de-plusieurs-dataframe-en-fonction-des-années-et-ajout-d'une-colonne-année" data-toc-modified-id="Création-de-plusieurs-dataframe-en-fonction-des-années-et-ajout-d'une-colonne-année-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Création de plusieurs dataframe en fonction des années et ajout d'une colonne année</a></span></li><li><span><a href="#Création-du-dataframe-final-selon-le-modèle-du-schema-DB" data-toc-modified-id="Création-du-dataframe-final-selon-le-modèle-du-schema-DB-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Création du dataframe final selon le modèle du schema DB</a></span></li><li><span><a href="#Création-du-fichier-'table_bilan_energetique.tsv'" data-toc-modified-id="Création-du-fichier-'table_bilan_energetique.tsv'-1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Création du fichier 'table_bilan_energetique.tsv'</a></span></li></ul></li></ul></li><li><span><a href="#Table-code_pays---nrg_bal_c_GEO.txt" data-toc-modified-id="Table-code_pays---nrg_bal_c_GEO.txt-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Table code_pays - nrg_bal_c_GEO.txt</a></span></li><li><span><a href="#Table-bilan---nrg_bal_c_NRG_BAL.txt" data-toc-modified-id="Table-bilan---nrg_bal_c_NRG_BAL.txt-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Table bilan - nrg_bal_c_NRG_BAL.txt</a></span></li><li><span><a href="#Table-SIEC---nrg_bal_c_SIEC.txt" data-toc-modified-id="Table-SIEC---nrg_bal_c_SIEC.txt-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Table SIEC - nrg_bal_c_SIEC.txt</a></span></li><li><span><a href="#Table-unite---nrg_bal_c_UNIT.txt" data-toc-modified-id="Table-unite---nrg_bal_c_UNIT.txt-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Table unite - nrg_bal_c_UNIT.txt</a></span></li><li><span><a href="#Table-Dechets---ten00106+ESTAT.tsv" data-toc-modified-id="Table-Dechets---ten00106+ESTAT.tsv-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Table Dechets - ten00106+ESTAT.tsv</a></span><ul class="toc-item"><li><span><a href="#Split-de-la-première-colonne" data-toc-modified-id="Split-de-la-première-colonne-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Split de la première colonne</a></span></li><li><span><a href="#Création-des-sous-dataframe" data-toc-modified-id="Création-des-sous-dataframe-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Création des sous dataframe</a></span></li><li><span><a href="#Concatenation-des-sous-dataframe-puis-création-de-la-table" data-toc-modified-id="Concatenation-des-sous-dataframe-puis-création-de-la-table-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Concatenation des sous dataframe puis création de la table</a></span></li></ul></li><li><span><a href="#Table-recyclage---t2020_rt120+ESTAT.tsv-+-t2020_rt130+ESTAT.tsv" data-toc-modified-id="Table-recyclage---t2020_rt120+ESTAT.tsv-+-t2020_rt130+ESTAT.tsv-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Table recyclage - t2020_rt120+ESTAT.tsv + t2020_rt130+ESTAT.tsv</a></span><ul class="toc-item"><li><span><a href="#taux-de-recyclage-des-déchets-municipaux---t2020_rt120+ESTAT.tsv" data-toc-modified-id="taux-de-recyclage-des-déchets-municipaux---t2020_rt120+ESTAT.tsv-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>taux de recyclage des déchets municipaux - t2020_rt120+ESTAT.tsv</a></span><ul class="toc-item"><li><span><a href="#Split-de-la-premiere-colonne" data-toc-modified-id="Split-de-la-premiere-colonne-7.1.1"><span class="toc-item-num">7.1.1&nbsp;&nbsp;</span>Split de la premiere colonne</a></span></li><li><span><a href="#Creation-sous-dataframe" data-toc-modified-id="Creation-sous-dataframe-7.1.2"><span class="toc-item-num">7.1.2&nbsp;&nbsp;</span>Creation sous dataframe</a></span></li></ul></li><li><span><a href="#taux-recyclage-e-dechet---t2020_rt130+ESTAT.tsv" data-toc-modified-id="taux-recyclage-e-dechet---t2020_rt130+ESTAT.tsv-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>taux recyclage e-dechet - t2020_rt130+ESTAT.tsv</a></span></li></ul></li></ul></div>

In [2]:
import pandas as pd

# Bilan energétique complet - Eurostat nrg_bal_c.tsv

## Exploration

In [4]:
df = pd.read_csv('nrg_bal_c.tsv', sep='\t')
df

,"nrg_bal,siec,unit,geo\time",2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,"AFC,BIOE,GWH,AL",3129.617,2804.720,3049.733,2728.383,2547.175,2343.333,2401.667,2419.167,2384.167,...,3046.944,3192.500,3344.722,3504.167,3671.389,3846.389,4029.722,4221.944,4221.944,4221.944
1,"AFC,BIOE,GWH,AT",55305.885,58210.991,57658.982,57507.759,55284.011,57910.854,56291.447,54601.452,55531.422,...,31906.583,27778.728,28863.769,29117.247,27703.651,25186.310,27367.890,27110.141,27905.111,25744.633
2,"AFC,BIOE,GWH,BA",13379.486,4843.579,5936.294,5937.175,4618.269,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"AFC,BIOE,GWH,BE",27929.856,27124.591,27065.456,25315.330,24483.490,25119.801,24155.852,21704.506,21901.839,...,5226.635,4792.250,4198.739,4464.628,4344.736,3076.269,3139.375,3958.904,4108.185,4034.103
4,"AFC,BIOE,GWH,BG",16312.768,14661.761,14428.844,13753.572,12695.771,13328.990,12785.630,11240.794,10495.511,...,4900.556,4759.722,2776.667,2724.166,2394.221,1865.723,1656.454,1818.057,1333.333,2005.833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240105,"TO_RPI_RO,W6220,TJ,SK",: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z
1240106,"TO_RPI_RO,W6220,TJ,TR",: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z
1240107,"TO_RPI_RO,W6220,TJ,UA",: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z
1240108,"TO_RPI_RO,W6220,TJ,UK",: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z
1240109,"TO_RPI_RO,W6220,TJ,XK",: z,: z,: z,: z,: z,: z,: z,: z,: z,...,:,:,:,:,:,:,:,:,:,:

In [5]:
df.columns.values

array(['nrg_bal,siec,unit,geo\\time', '2018 ', '2017 ', '2016 ', '2015 ',
       '2014 ', '2013 ', '2012 ', '2011 ', '2010 ', '2009 ', '2008 ',
       '2007 ', '2006 ', '2005 ', '2004 ', '2003 ', '2002 ', '2001 ',
       '2000 ', '1999 ', '1998 ', '1997 ', '1996 ', '1995 ', '1994 ',
       '1993 ', '1992 ', '1991 ', '1990 '], dtype=object)

## Split de la première colonne

In [7]:
df['nrg_bal,siec,unit,geo\\time']

0                AFC,BIOE,GWH,AL
1                AFC,BIOE,GWH,AT
2                AFC,BIOE,GWH,BA
3                AFC,BIOE,GWH,BE
4                AFC,BIOE,GWH,BG
                   ...
1240105    TO_RPI_RO,W6220,TJ,SK
1240106    TO_RPI_RO,W6220,TJ,TR
1240107    TO_RPI_RO,W6220,TJ,UA
1240108    TO_RPI_RO,W6220,TJ,UK
1240109    TO_RPI_RO,W6220,TJ,XK
Name: nrg_bal,siec,unit,geo\time, Length: 1240110, dtype: object

In [8]:
text_columns = df[['nrg_bal,siec,unit,geo\\time']]
text_columns

        nrg_bal,siec,unit,geo\time
0                  AFC,BIOE,GWH,AL
1                  AFC,BIOE,GWH,AT
2                  AFC,BIOE,GWH,BA
3                  AFC,BIOE,GWH,BE
4                  AFC,BIOE,GWH,BG
...                            ...
1240105      TO_RPI_RO,W6220,TJ,SK
1240106      TO_RPI_RO,W6220,TJ,TR
1240107      TO_RPI_RO,W6220,TJ,UA
1240108      TO_RPI_RO,W6220,TJ,UK
1240109      TO_RPI_RO,W6220,TJ,XK

[1240110 rows x 1 columns]

In [9]:
text_columns[['nrg_bal', 'siec', 'unit', 'geo\\time']] = text_columns['nrg_bal,siec,unit,geo\\time'].str.split(",",expand=True,)
text_columns

/home/chloeronteix/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

        nrg_bal,siec,unit,geo\time    nrg_bal   siec unit geo\time
0                  AFC,BIOE,GWH,AL        AFC   BIOE  GWH       AL
1                  AFC,BIOE,GWH,AT        AFC   BIOE  GWH       AT
2                  AFC,BIOE,GWH,BA        AFC   BIOE  GWH       BA
3                  AFC,BIOE,GWH,BE        AFC   BIOE  GWH       BE
4                  AFC,BIOE,GWH,BG        AFC   BIOE  GWH       BG
...                            ...        ...    ...  ...      ...
1240105      TO_RPI_RO,W6220,TJ,SK  TO_RPI_RO  W6220   TJ       SK
1240106      TO_RPI_RO,W6220,TJ,TR  TO_RPI_RO  W6220   TJ       TR
1240107      TO_RPI_RO,W6220,TJ,UA  TO_RPI_RO  W6220   TJ       UA
1240108      TO_RPI_RO,W6220,TJ,UK  TO_RPI_RO  W6220   TJ       UK
1240109      TO_RPI_RO,W6220,TJ,XK  TO_RPI_RO  W6220   TJ       XK

[1240110 rows x 5 columns]

In [10]:
new_columns = text_columns[['nrg_bal', 'siec', 'unit', 'geo\\time']]
new_columns

           nrg_bal   siec unit geo\time
0              AFC   BIOE  GWH       AL
1              AFC   BIOE  GWH       AT
2              AFC   BIOE  GWH       BA
3              AFC   BIOE  GWH       BE
4              AFC   BIOE  GWH       BG
...            ...    ...  ...      ...
1240105  TO_RPI_RO  W6220   TJ       SK
1240106  TO_RPI_RO  W6220   TJ       TR
1240107  TO_RPI_RO  W6220   TJ       UA
1240108  TO_RPI_RO  W6220   TJ       UK
1240109  TO_RPI_RO  W6220   TJ       XK

[1240110 rows x 4 columns]

## Ajout des nouvelles colonnes au dataframe

In [11]:
df1 = pd.concat([df, new_columns], axis=1)
df1

,"nrg_bal,siec,unit,geo\time",2018,2017,2016,2015,2014,2013,2012,2011,2010,...,1995,1994,1993,1992,1991,1990,nrg_bal,siec,unit,geo\time
0,"AFC,BIOE,GWH,AL",3129.617,2804.720,3049.733,2728.383,2547.175,2343.333,2401.667,2419.167,2384.167,...,3671.389,3846.389,4029.722,4221.944,4221.944,4221.944,AFC,BIOE,GWH,AL
1,"AFC,BIOE,GWH,AT",55305.885,58210.991,57658.982,57507.759,55284.011,57910.854,56291.447,54601.452,55531.422,...,27703.651,25186.310,27367.890,27110.141,27905.111,25744.633,AFC,BIOE,GWH,AT
2,"AFC,BIOE,GWH,BA",13379.486,4843.579,5936.294,5937.175,4618.269,:,:,:,:,...,:,:,:,:,:,:,AFC,BIOE,GWH,BA
3,"AFC,BIOE,GWH,BE",27929.856,27124.591,27065.456,25315.330,24483.490,25119.801,24155.852,21704.506,21901.839,...,4344.736,3076.269,3139.375,3958.904,4108.185,4034.103,AFC,BIOE,GWH,BE
4,"AFC,BIOE,GWH,BG",16312.768,14661.761,14428.844,13753.572,12695.771,13328.990,12785.630,11240.794,10495.511,...,2394.221,1865.723,1656.454,1818.057,1333.333,2005.833,AFC,BIOE,GWH,BG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240105,"TO_RPI_RO,W6220,TJ,SK",: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,TJ,SK
1240106,"TO_RPI_RO,W6220,TJ,TR",: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,TJ,TR
1240107,"TO_RPI_RO,W6220,TJ,UA",: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,TJ,UA
1240108,"TO_RPI_RO,W6220,TJ,UK",: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,TJ,UK
1240109,"TO_RPI_RO,W6220,TJ,XK",: z,: z,: z,: z,: z,: z,: z,: z,: z,...,:,:,:,:,:,:,TO_RPI_RO,W6220,TJ,XK

In [12]:
df1 = df1.drop(columns=['nrg_bal,siec,unit,geo\\time'])
df1

,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1995,1994,1993,1992,1991,1990,nrg_bal,siec,unit,geo\time
0,3129.617,2804.720,3049.733,2728.383,2547.175,2343.333,2401.667,2419.167,2384.167,2442.222,...,3671.389,3846.389,4029.722,4221.944,4221.944,4221.944,AFC,BIOE,GWH,AL
1,55305.885,58210.991,57658.982,57507.759,55284.011,57910.854,56291.447,54601.452,55531.422,50652.284,...,27703.651,25186.310,27367.890,27110.141,27905.111,25744.633,AFC,BIOE,GWH,AT
2,13379.486,4843.579,5936.294,5937.175,4618.269,:,:,:,:,:,...,:,:,:,:,:,:,AFC,BIOE,GWH,BA
3,27929.856,27124.591,27065.456,25315.330,24483.490,25119.801,24155.852,21704.506,21901.839,17171.336,...,4344.736,3076.269,3139.375,3958.904,4108.185,4034.103,AFC,BIOE,GWH,BE
4,16312.768,14661.761,14428.844,13753.572,12695.771,13328.990,12785.630,11240.794,10495.511,8697.014,...,2394.221,1865.723,1656.454,1818.057,1333.333,2005.833,AFC,BIOE,GWH,BG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240105,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,TJ,SK
1240106,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,TJ,TR
1240107,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,TJ,UA
1240108,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,TJ,UK
1240109,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z,...,:,:,:,:,:,:,TO_RPI_RO,W6220,TJ,XK

## Sélection de l'unité en Kilo Tonne équivalent pétrole

In [14]:
df1 = df1.rename(columns={'geo\\time':'country'})
df2 = df1[df1['unit']=='KTOE']
df2

,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1995,1994,1993,1992,1991,1990,nrg_bal,siec,unit,country
43,269.099,241.163,262.230,234.599,219.018,201.490,206.506,208.011,205.001,209.993,...,315.683,330.730,346.494,363.022,363.022,363.022,AFC,BIOE,KTOE,AL
44,4755.450,5005.244,4957.780,4944.777,4753.569,4979.437,4840.193,4694.880,4774.843,4355.312,...,2382.085,2165.633,2353.215,2331.053,2399.408,2213.640,AFC,BIOE,KTOE,AT
45,1150.429,416.473,510.429,510.505,397.100,:,:,:,:,:,...,:,:,:,:,:,:,AFC,BIOE,KTOE,BA
46,2401.535,2332.295,2327.210,2176.727,2105.201,2159.914,2077.029,1866.252,1883.219,1476.469,...,373.580,264.512,269.938,340.405,353.240,346.870,AFC,BIOE,KTOE,BE
47,1402.646,1260.684,1240.657,1182.594,1091.640,1146.087,1099.366,966.534,902.452,747.809,...,205.866,160.423,142.429,156.325,114.646,172.471,AFC,BIOE,KTOE,BG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240065,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,KTOE,SK
1240066,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,KTOE,TR
1240067,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,KTOE,UA
1240068,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z,...,: z,: z,: z,: z,: z,: z,TO_RPI_RO,W6220,KTOE,UK
1240069,: z,: z,: z,: z,: z,: z,: z,: z,: z,: z,...,:,:,:,:,:,:,TO_RPI_RO,W6220,KTOE,XK

In [15]:
df2.columns

Index(['2018 ', '2017 ', '2016 ', '2015 ', '2014 ', '2013 ', '2012 ', '2011 ',
       '2010 ', '2009 ', '2008 ', '2007 ', '2006 ', '2005 ', '2004 ', '2003 ',
       '2002 ', '2001 ', '2000 ', '1999 ', '1998 ', '1997 ', '1996 ', '1995 ',
       '1994 ', '1993 ', '1992 ', '1991 ', '1990 ', 'nrg_bal', 'siec', 'unit',
       'country'],
      dtype='object')

## Création dataframe final avant prétraitement des données

### Création de plusieurs dataframe en fonction des années et ajout d'une colonne année

In [16]:
df_bilan_energ = []
for i in range(1990,2019):
    df_i = df2[[f'{i} ','nrg_bal', 'siec', 'unit','country']]
    df_i.rename(columns={f'{i} ':'quantite'}, inplace=True)
    df_i['annee'] = i
    df_bilan_energ.append(df_i)
df_bilan_energ

/home/chloeronteix/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/home/chloeronteix/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

[          quantite    nrg_bal   siec  unit country  annee
 43        363.022         AFC   BIOE  KTOE      AL   1990
 44       2213.640         AFC   BIOE  KTOE      AT   1990
 45              :         AFC   BIOE  KTOE      BA   1990
 46        346.870         AFC   BIOE  KTOE      BE   1990
 47        172.471         AFC   BIOE  KTOE      BG   1990
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   1990
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   1990
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   1990
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   1990
 1240069         :   TO_RPI_RO  W6220  KTOE      XK   1990

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        363.022         AFC   BIOE  KTOE      AL   1991
 44       2399.408         AFC   BIOE  KTOE      AT   1991
 45              :         AFC   BIOE  KTOE      BA   1991
 46        353.240         AFC   BIOE  KTOE      BE   1991
 47        114.646         AFC   BIOE  KTOE      BG   1991
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   1991
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   1991
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   1991
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   1991
 1240069         :   TO_RPI_RO  W6220  KTOE      XK   1991

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        363.022         AFC   BIOE  KTOE      AL   1992
 44       2331.053         AFC   BIOE  KTOE      AT   1992
 45              :         AFC   BIOE  KTOE      BA   1992
 46        340.405         AFC   BIOE  KTOE      BE   1992
 47        156.325         AFC   BIOE  KTOE      BG   1992
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   1992
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   1992
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   1992
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   1992
 1240069         :   TO_RPI_RO  W6220  KTOE      XK   1992

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        346.494         AFC   BIOE  KTOE      AL   1993
 44       2353.215         AFC   BIOE  KTOE      AT   1993
 45              :         AFC   BIOE  KTOE      BA   1993
 46        269.938         AFC   BIOE  KTOE      BE   1993
 47        142.429         AFC   BIOE  KTOE      BG   1993
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   1993
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   1993
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   1993
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   1993
 1240069         :   TO_RPI_RO  W6220  KTOE      XK   1993

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        330.730         AFC   BIOE  KTOE      AL   1994
 44       2165.633         AFC   BIOE  KTOE      AT   1994
 45              :         AFC   BIOE  KTOE      BA   1994
 46        264.512         AFC   BIOE  KTOE      BE   1994
 47        160.423         AFC   BIOE  KTOE      BG   1994
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   1994
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   1994
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   1994
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   1994
 1240069         :   TO_RPI_RO  W6220  KTOE      XK   1994

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        315.683         AFC   BIOE  KTOE      AL   1995
 44       2382.085         AFC   BIOE  KTOE      AT   1995
 45              :         AFC   BIOE  KTOE      BA   1995
 46        373.580         AFC   BIOE  KTOE      BE   1995
 47        205.866         AFC   BIOE  KTOE      BG   1995
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   1995
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   1995
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   1995
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   1995
 1240069         :   TO_RPI_RO  W6220  KTOE      XK   1995

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        301.304         AFC   BIOE  KTOE      AL   1996
 44       2503.633         AFC   BIOE  KTOE      AT   1996
 45              :         AFC   BIOE  KTOE      BA   1996
 46        383.889         AFC   BIOE  KTOE      BE   1996
 47        234.236         AFC   BIOE  KTOE      BG   1996
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   1996
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   1996
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   1996
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   1996
 1240069         :   TO_RPI_RO  W6220  KTOE      XK   1996

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        287.594         AFC   BIOE  KTOE      AL   1997
 44       2481.837         AFC   BIOE  KTOE      AT   1997
 45              :         AFC   BIOE  KTOE      BA   1997
 46        361.027         AFC   BIOE  KTOE      BE   1997
 47        238.750         AFC   BIOE  KTOE      BG   1997
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   1997
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   1997
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   1997
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   1997
 1240069         :   TO_RPI_RO  W6220  KTOE      XK   1997

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        274.506         AFC   BIOE  KTOE      AL   1998
 44       2388.541         AFC   BIOE  KTOE      AT   1998
 45              :         AFC   BIOE  KTOE      BA   1998
 46        412.059         AFC   BIOE  KTOE      BE   1998
 47        409.262         AFC   BIOE  KTOE      BG   1998
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   1998
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   1998
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   1998
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   1998
 1240069         :   TO_RPI_RO  W6220  KTOE      XK   1998

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        261.990         AFC   BIOE  KTOE      AL   1999
 44       2743.472         AFC   BIOE  KTOE      AT   1999
 45              :         AFC   BIOE  KTOE      BA   1999
 46        449.410         AFC   BIOE  KTOE      BE   1999
 47        421.372         AFC   BIOE  KTOE      BG   1999
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   1999
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   1999
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   1999
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   1999
 1240069         :   TO_RPI_RO  W6220  KTOE      XK   1999

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        258.001         AFC   BIOE  KTOE      AL   2000
 44       2608.413         AFC   BIOE  KTOE      AT   2000
 45              :         AFC   BIOE  KTOE      BA   2000
 46        461.286         AFC   BIOE  KTOE      BE   2000
 47        546.551         AFC   BIOE  KTOE      BG   2000
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2000
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2000
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2000
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2000
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2000

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        255.995         AFC   BIOE  KTOE      AL   2001
 44       2806.762         AFC   BIOE  KTOE      AT   2001
 45              :         AFC   BIOE  KTOE      BA   2001
 46        524.225         AFC   BIOE  KTOE      BE   2001
 47        542.873         AFC   BIOE  KTOE      BG   2001
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2001
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2001
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2001
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2001
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2001

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        255.995         AFC   BIOE  KTOE      AL   2002
 44       2621.693         AFC   BIOE  KTOE      AT   2002
 45              :         AFC   BIOE  KTOE      BA   2002
 46        532.467         AFC   BIOE  KTOE      BE   2002
 47        639.367         AFC   BIOE  KTOE      BG   2002
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2002
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2002
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2002
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2002
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2002

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        198.003         AFC   BIOE  KTOE      AL   2003
 44       2731.443         AFC   BIOE  KTOE      AT   2003
 45              :         AFC   BIOE  KTOE      BA   2003
 46        631.240         AFC   BIOE  KTOE      BE   2003
 47        681.618         AFC   BIOE  KTOE      BG   2003
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2003
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2003
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2003
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2003
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2003

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        232.994         AFC   BIOE  KTOE      AL   2004
 44       2744.166         AFC   BIOE  KTOE      AT   2004
 45              :         AFC   BIOE  KTOE      BA   2004
 46        669.748         AFC   BIOE  KTOE      BE   2004
 47        707.462         AFC   BIOE  KTOE      BG   2004
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2004
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2004
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2004
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2004
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2004

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        230.009         AFC   BIOE  KTOE      AL   2005
 44       3207.315         AFC   BIOE  KTOE      AT   2005
 45              :         AFC   BIOE  KTOE      BA   2005
 46        789.167         AFC   BIOE  KTOE      BE   2005
 47        691.779         AFC   BIOE  KTOE      BG   2005
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2005
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2005
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2005
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2005
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2005

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        230.009         AFC   BIOE  KTOE      AL   2006
 44       3690.584         AFC   BIOE  KTOE      AT   2006
 45              :         AFC   BIOE  KTOE      BA   2006
 46        897.170         AFC   BIOE  KTOE      BE   2006
 47        741.245         AFC   BIOE  KTOE      BG   2006
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2006
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2006
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2006
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2006
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2006

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        215.009         AFC   BIOE  KTOE      AL   2007
 44       4023.054         AFC   BIOE  KTOE      AT   2007
 45              :         AFC   BIOE  KTOE      BA   2007
 46       1028.336         AFC   BIOE  KTOE      BE   2007
 47        677.747         AFC   BIOE  KTOE      BG   2007
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2007
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2007
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2007
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2007
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2007

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        215.009         AFC   BIOE  KTOE      AL   2008
 44       4174.588         AFC   BIOE  KTOE      AT   2008
 45              :         AFC   BIOE  KTOE      BA   2008
 46       1239.213         AFC   BIOE  KTOE      BE   2008
 47        758.688         AFC   BIOE  KTOE      BG   2008
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2008
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2008
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2008
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2008
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2008

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        209.993         AFC   BIOE  KTOE      AL   2009
 44       4355.312         AFC   BIOE  KTOE      AT   2009
 45              :         AFC   BIOE  KTOE      BA   2009
 46       1476.469         AFC   BIOE  KTOE      BE   2009
 47        747.809         AFC   BIOE  KTOE      BG   2009
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2009
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2009
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2009
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2009
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2009

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        205.001         AFC   BIOE  KTOE      AL   2010
 44       4774.843         AFC   BIOE  KTOE      AT   2010
 45              :         AFC   BIOE  KTOE      BA   2010
 46       1883.219         AFC   BIOE  KTOE      BE   2010
 47        902.452         AFC   BIOE  KTOE      BG   2010
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2010
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2010
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2010
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2010
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2010

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        208.011         AFC   BIOE  KTOE      AL   2011
 44       4694.880         AFC   BIOE  KTOE      AT   2011
 45              :         AFC   BIOE  KTOE      BA   2011
 46       1866.252         AFC   BIOE  KTOE      BE   2011
 47        966.534         AFC   BIOE  KTOE      BG   2011
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2011
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2011
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2011
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2011
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2011

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        206.506         AFC   BIOE  KTOE      AL   2012
 44       4840.193         AFC   BIOE  KTOE      AT   2012
 45              :         AFC   BIOE  KTOE      BA   2012
 46       2077.029         AFC   BIOE  KTOE      BE   2012
 47       1099.366         AFC   BIOE  KTOE      BG   2012
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2012
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2012
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2012
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2012
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2012

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        201.490         AFC   BIOE  KTOE      AL   2013
 44       4979.437         AFC   BIOE  KTOE      AT   2013
 45              :         AFC   BIOE  KTOE      BA   2013
 46       2159.914         AFC   BIOE  KTOE      BE   2013
 47       1146.087         AFC   BIOE  KTOE      BG   2013
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2013
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2013
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2013
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2013
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2013

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        219.018         AFC   BIOE  KTOE      AL   2014
 44       4753.569         AFC   BIOE  KTOE      AT   2014
 45        397.100         AFC   BIOE  KTOE      BA   2014
 46       2105.201         AFC   BIOE  KTOE      BE   2014
 47       1091.640         AFC   BIOE  KTOE      BG   2014
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2014
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2014
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2014
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2014
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2014

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        234.599         AFC   BIOE  KTOE      AL   2015
 44       4944.777         AFC   BIOE  KTOE      AT   2015
 45        510.505         AFC   BIOE  KTOE      BA   2015
 46       2176.727         AFC   BIOE  KTOE      BE   2015
 47       1182.594         AFC   BIOE  KTOE      BG   2015
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2015
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2015
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2015
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2015
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2015

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee
 43        262.230         AFC   BIOE  KTOE      AL   2016
 44       4957.780         AFC   BIOE  KTOE      AT   2016
 45        510.429         AFC   BIOE  KTOE      BA   2016
 46       2327.210         AFC   BIOE  KTOE      BE   2016
 47       1240.657         AFC   BIOE  KTOE      BG   2016
 ...            ...        ...    ...   ...     ...    ...
 1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2016
 1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2016
 1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2016
 1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2016
 1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2016

 [413370 rows x 6 columns],
           quantite    nrg_bal   siec  unit country  annee

In [17]:
len(df_bilan_energ)

29

### Création du dataframe final selon le modèle du schema DB

In [18]:
df_bilan_final =pd.concat([df_bilan_energ[0],df_bilan_energ[1],df_bilan_energ[2],df_bilan_energ[3],
                           df_bilan_energ[4],df_bilan_energ[5],df_bilan_energ[6],df_bilan_energ[7],
                          df_bilan_energ[8],df_bilan_energ[9],df_bilan_energ[10],df_bilan_energ[11],
                          df_bilan_energ[12],df_bilan_energ[13],df_bilan_energ[14],df_bilan_energ[15],
                          df_bilan_energ[16],df_bilan_energ[17],df_bilan_energ[18],df_bilan_energ[19],
                          df_bilan_energ[20],df_bilan_energ[21],df_bilan_energ[22],df_bilan_energ[23],
                          df_bilan_energ[24],df_bilan_energ[25],df_bilan_energ[26],df_bilan_energ[27],
                          df_bilan_energ[28]])
df_bilan_final

          quantite    nrg_bal   siec  unit country  annee
43        363.022         AFC   BIOE  KTOE      AL   1990
44       2213.640         AFC   BIOE  KTOE      AT   1990
45              :         AFC   BIOE  KTOE      BA   1990
46        346.870         AFC   BIOE  KTOE      BE   1990
47        172.471         AFC   BIOE  KTOE      BG   1990
...            ...        ...    ...   ...     ...    ...
1240065        : z  TO_RPI_RO  W6220  KTOE      SK   2018
1240066        : z  TO_RPI_RO  W6220  KTOE      TR   2018
1240067        : z  TO_RPI_RO  W6220  KTOE      UA   2018
1240068        : z  TO_RPI_RO  W6220  KTOE      UK   2018
1240069        : z  TO_RPI_RO  W6220  KTOE      XK   2018

[11987730 rows x 6 columns]

### Création du fichier 'table_bilan_energetique.tsv'

In [19]:
#df_bilan_final.to_csv('table_bilan_energetique.tsv',index=False,header=['quantite','nrg_bal','siec','unit','country','annee'], sep='\t')

# Table code_pays - nrg_bal_c_GEO.txt

In [16]:
#localisation
geo = pd.read_csv('nrg_bal_c_GEO.txt', sep='\t', header=None)
geo.rename(columns={0:'country_code', 1:'country'}, inplace=True)
geo

   country_code                                            country
0     EU27_2020      Union européenne - 27 pays (à partir de 2020)
1          EU28             Union européenne - 28 pays (2013-2020)
2          EA19             Zone euro - 19 pays (à partir de 2015)
3            BE                                           Belgique
4            BG                                           Bulgarie
5            CZ                                           Tchéquie
6            DK                                           Danemark
7            DE  Allemagne (jusqu'en 1990, ancien territoire de...
8            EE                                            Estonie
9            IE                                            Irlande
10           EL                                              Grèce
11           ES                                            Espagne
12           FR                                             France
13           HR                                            Croatie
14           IT                                             Italie
15           CY                                             Chypre
16           LV                                           Lettonie
17           LT                                           Lituanie
18           LU                                         Luxembourg
19           HU                                            Hongrie
20           MT                                              Malte
21           NL                                           Pays-Bas
22           AT                                           Autriche
23           PL                                            Pologne
24           PT                                           Portugal
25           RO                                           Roumanie
26           SI                                           Slovénie
27           SK                                          Slovaquie
28           FI                                           Finlande
29           SE                                              Suède
30           UK                                        Royaume-Uni
31           IS                                            Islande
32           NO                                            Norvège
33           ME                                         Monténégro
34           MK                                  Macédoine du Nord
35           AL                                            Albanie
36           RS                                             Serbie
37           TR                                            Turquie
38           BA                                 Bosnie-Herzégovine
39           XK  Kosovo (selon la résolution 1244/99 du Conseil...
40           MD                                           Moldavie
41           UA                                            Ukraine
42           GE                                            Géorgie

In [ ]:
#geo.to_csv('table_code_pays.tsv', index=False, header=['country_code','country'], sep='\t')

# Table bilan - nrg_bal_c_NRG_BAL.txt

In [17]:
#bilan energétique
bilan_energetique = pd.read_csv('nrg_bal_c_NRG_BAL.txt', sep='\t', header=None)
bilan_energetique.rename(columns={0:'code', 1:'bilan'}, inplace=True)

In [ ]:
#bilan_energetique.to_csv('table_code_bilan.tsv',sep='\t', header=['code','libelle'],index=False)

In [13]:
bilan_energetique['bilan'].values

array(['Production primaire', 'Produits récupérés et recyclés',
       'Importations', 'Exportations', 'Variation de stock',
       'Énergie disponible brute', 'Soutages maritimes internationaux',
       'Consommation intérieure brute', 'Aviation internationale',
       'Approvisionnement énergétique total',
       'Consommation intérieure brute (Europe 2020-2030)',
       "Consommation d'énergie primaire (Europe 2020-2030)",
       "Consommation finale d'énergie (Europe 2020-2030)",
       'Entrées en transformation - usage énergétique',
       "Entrées en transformation - production d'électricité et de chaleur - usage énergétique",
       "Entrées en transformation - production d'électricité et de chaleur - producteur dont l'activité principale est la production d'électricité uniqueme...",
       "Entrées en transformation - production d'électricité et de chaleur - producteur dont l'activité principale est la cogénération de chaleur et d'élec...",
       "Entrées en transformation - production d'électricité et de chaleur - producteur dont l'activité principale est la production de chaleur uniquement ...",
       "Entrées en transformation - production d'électricité et de chaleur - autoproducteur d'électricité uniquement - usage énergétique",
       "Entrées en transformation - production d'électricité et de chaleur - autoproducteur de chaleur et d'électricité combinées - usage énergétique",
       "Entrées en transformation - production d'électricité et de chaleur - autoproducteur de chaleur uniquement - usage énergétique",
       "Entrées en transformation - production d'électricité et de chaleur - pompes à chaleur électriques",
       "Entrées en transformation - production d'électricité et de chaleur - chaudières électriques",
       "Entrées en transformation - production d'électricité et de chaleur - électricité pour le stockage par pompage",
       "Entrées en transformation - production d'électricité et de chaleur - chaleur dérivée pour la production d'électricité",
       'Entrées en transformation - fours à coke - usage énergétique',
       'Entrées en transformation - hauts-fourneaux - usage énergétique',
       'Entrées en transformation - usines à gaz - usage énergétique',
       'Entrées en transformation - raffineries et industrie pétrochimique - usage énergétique',
       'Entrées en transformation - raffineries et industrie pétrochimique - entrées en raffinerie - usage énergétique',
       "Entrées en transformation - raffineries et industrie pétrochimique - retours de l'industrie pétrochimique - usage énergétique",
       'Entrées en transformation - raffineries et industrie pétrochimique - produits transférés - usage énergétique',
       'Entrées en transformation - raffineries et industrie pétrochimique - transferts entre produits - usage énergétique',
       'Entrées en transformation - raffineries et industrie pétrochimique - usage direct - usage énergétique',
       'Entrées en transformation - raffineries et industrie pétrochimique - entrées en industrie pétrochimique - usage énergétique',
       "Entrées en transformation - fabriques d'agglomérés - usage énergétique",
       'Entrées en transformation - fabriques de briquettes de lignite et briquettes de tourbe - usage énergétique',
       'Entrées en transformation - usines de liquéfaction du charbon - usage énergétique',
       'Entrées en transformation - pour mélange avec du gaz naturel - usage énergétique',
       'Entrées en transformation - biocarburants liquides mélangés - usage énergétique',
       'Entrées en transformation - usines de production de charbon de bois - usage énergétique',
       'Entrées en transformation - usines de liquéfaction du gaz - usage énergétique',
       'Entrées en transformation - non spécifiées ailleurs - usage énergétique',
       'Sorties de transformation',
       "Sorties de transformation - production d'électricité et de chaleur",
       "Sorties de transformation - production d'électricité et de chaleur - producteur dont l'activité principale est la production d'électricité uniquement",
       "Sorties de transformation - production d'électricité et de chaleur - producteur dont l'activité principale est la cogénération de chaleur et d'élec...",
       "Sorties de transformation - production d'électricité et de chaleur - producteur dont l'activité principale est la production de chaleur uniquement",
       "Sorties de transformation - production d'électricité et de chaleur - autoproducteur d'électricité uniquement",
       "Sorties de transformation - production d'électricité et de chaleur - autoproducteur de chaleur et d'électricité combinées",
       "Sorties de transformation - production d'électricité et de chaleur - autoproducteur de chaleur uniquement",
       "Sorties de transformation - production d'électricité et de chaleur - pompes à chaleur électriques",
       "Sorties de transformation - production d'électricité et de chaleur - chaudières électriques",
       "Sorties de transformation - production d'électricité et de chaleur - pompage",
       "Sorties de transformation - production d'électricité et de chaleur - autres sources",
       'Sorties de transformation - fours à coke',
       'Sorties de transformation - hauts-fourneaux',
       'Sorties de transformation - usines à gaz',
       'Sorties de transformation - raffineries et industrie pétrochimique',
       'Sorties de transformation - raffineries et industrie pétrochimique - production des raffineries',
       'Sorties de transformation - raffineries et industrie pétrochimique - retours',
       'Sorties de transformation - raffineries et industrie pétrochimique - produits transférés',
       'Sorties de transformation - raffineries et industrie pétrochimique - transferts entre produits',
       'Sorties de transformation - raffineries et industrie pétrochimique - produits primaires reçus',
       'Sorties de transformation - raffineries et industrie pétrochimique - restitutions de la pétrochimie',
       "Sorties de transformation - fabriques d'agglomérés",
       'Sorties de transformation - fabriques de briquettes de lignite et briquettes de tourbe',
       'Sorties de transformation - usines de liquéfaction du charbon',
       'Sorties de transformation - gaz naturel mélangé',
       'Sorties de transformation - biocarburants liquides mélangés',
       'Sorties de transformation - usines de production de charbon de bois',
       'Sorties de transformation - usines de liquéfaction du gaz',
       'Sorties de transformation - non spécifiées ailleurs',
       "Secteur de l'énergie - usage énergétique",
       "Secteur de l'énergie - production d'électricité et de chaleur - usage énergétique",
       "Secteur de l'énergie - mines de charbon - usage énergétique",
       "Secteur de l'énergie - usines d'extraction de pétrole et de gaz naturel - usage énergétique",
       "Secteur de l'énergie - fabriques d'agglomérés - usage énergétique",
       "Secteur de l'énergie - fours à coke - usage énergétique",
       "Secteur de l'énergie - fabriques de briquettes de lignite et briquettes de tourbe - usage énergétique",
       "Secteur de l'énergie - usines à gaz - usage énergétique",
       "Secteur de l'énergie - hauts-fourneaux - usage énergétique",
       "Secteur de l'énergie - raffineries de pétrole - usage énergétique",
       "Secteur de l'énergie - industrie nucléaire - usage énergétique",
       "Secteur de l'énergie - usines de liquéfaction du charbon - usage énergétique",
       "Secteur de l'énergie - usines de liquéfaction et regazéification (GNL) - usage énergétique",
       "Secteur de l'énergie - usines de gazéification de biogaz - usage énergétique",
       "Secteur de l'énergie - usines de liquéfaction du gaz - usage énergétique",
       "Secteur de l'énergie - usines de production de charbon de bois - usage énergétique",
       "Secteur de l'énergie - non spécifié ailleurs - usage énergétique",
       'Pertes de distribution', 'Disponible pour la consommation finale',
       'Consommation finale - usage non-énergétique',
       "Entrées en transformation, secteur de l'énergie et consommation finale dans le secteur industriel - usage non-énergétique",
       'Entrées en transformation - usage non-énergétique',
       "Secteur de l'énergie - usage non-énergétique",
       'Consommation finale - secteur industriel - usage non-énergétique',
       'Consommation finale - secteur des transports - usage non-énergétique',
       'Consommation finale - autres secteurs - usage non-énergétique',
       'Consommation finale - usage énergétique',
       'Consommation finale - secteur industriel - usage énergétique',
       'Consommation finale - secteur industriel - sidérurgie - usage énergétique',
       'Consommation finale - secteur industriel - chimie et pétrochimie - usage énergétique',
       'Consommation finale - secteur industriel - métaux non-ferreux - usage énergétique',
       'Consommation finale - secteur industriel - minéraux non-métalliques - usage énergétique',
       'Consommation finale - secteur industriel - matériel de transport - usage énergétique',
       'Consommation finale - secteur industriel - machines - usage énergétique',
       'Consommation finale - secteur industriel - industries extractives - usage énergétique',
       'Consommation finale - secteur industriel - produits alimentaires, boissons et tabac - usage énergétique',
       'Consommation finale - secteur industriel - papier, pâte à papier et imprimerie - usage énergétique',
       'Consommation finale - secteur industriel - bois et produits en bois - usage énergétique',
       'Consommation finale - secteur industriel - construction - usage énergétique',
       'Consommation finale - secteur industriel - textiles et cuir - usage énergétique',
       'Consommation finale - secteur industriel - non spécifié ailleurs - usage énergétique',
       'Consommation finale - secteur des transports - usage énergétique',
       'Consommation finale - secteur des transports - transport ferroviaire - usage énergétique',
       'Consommation finale - secteur des transports - transport routier - usage énergétique',
       'Consommation finale - secteur des transports - aviation intérieure - usage énergétique',
       'Consommation finale - secteur des transports - navigation intérieure - usage énergétique',
       'Consommation finale - secteur des transports - transport par conduites - usage énergétique',
       'Consommation finale - secteur des transports - non spécifié ailleurs - usage énergétique',
       'Consommation finale - autres secteurs - usage énergétique',
       'Consommation finale - autres secteurs - commerce et services publics - usage énergétique',
       'Consommation finale - autres secteurs - ménages - usage énergétique',
       'Consommation finale - autres secteurs - agriculture et sylviculture - usage énergétique',
       'Consommation finale - autres secteurs - pêche - usage énergétique',
       'Consommation finale - autres secteurs - non spécifié ailleurs - usage énergétique',
       'Écarts statistiques', "Production brute d'électricité",
       "Production brute d'électricité - producteur dont l'activité principale est la production d'électricité uniquement",
       "Production brute d'électricité - producteur dont l'activité principale est la cogénération de chaleur et d'électricité",
       "Production brute d'électricité - autoproducteur d'électricité uniquement",
       "Production brute d'électricité - autoproducteur de chaleur et d'électricité combinées",
       'Production brute de chaleur',
       "Production brute de chaleur - producteur dont l'activité principale est la cogénération de chaleur et d'électricité",
       "Production brute de chaleur - producteur dont l'activité principale est la production de chaleur uniquement",
       "Production brute de chaleur - autoproducteur de chaleur et d'électricité combinées",
       'Production brute de chaleur - autoproducteur de chaleur uniquement'],
      dtype=object)

# Table SIEC - nrg_bal_c_SIEC.txt

In [18]:
#classification internationale standard des produits de l'énergie
class_produit_nrg = pd.read_csv('nrg_bal_c_SIEC.txt', sep='\t', header=None)
class_produit_nrg.rename(columns={0:'code', 1:'produit_energetique'}, inplace=True)

In [ ]:
#class_produit_nrg.to_csv('table_code_SIEC.tsv', index=False, header=['code','produit_energetique'], sep='\t')

# Table unite - nrg_bal_c_UNIT.txt

In [15]:
#unité
unit = pd.read_csv('nrg_bal_c_UNIT.txt', sep='\t', header=None)
unit.rename(columns={0:'code', 1:'unite'}, inplace=True)
unit

   code                                        unite
0  KTOE  Milliers de tonnes équivalent pétrole (TEP)
1   GWH                                Gigawattheure
2    TJ                                    Térajoule

# Table Dechets - ten00106+ESTAT.tsv

Structure du fichier selon le même modèle que le fichier sur le bilan énergétique:
- Problématique de création des colonnes correspondantes à la première colonne du fichier
- Création de sous-dataframe selon les années
- Concaténation des sous-dataframe selon le modèle du schema DB

In [4]:
df = pd.read_csv('ten00106.tsv', sep='\t')
df

,"unit,hazard,nace_r2,waste,geo\time",2004,2006,2008,2010,2012,2014,2016,2018
0,"T,HAZ_NHAZ,A,TOTAL,AT",468629,512872,459096,550439,179044,128124,129834,139870
1,"T,HAZ_NHAZ,A,TOTAL,BA",:,:,:,:,0,0,0,0
2,"T,HAZ_NHAZ,A,TOTAL,BE",1186648,361827,287656,225622,165463,311835,269190,441047
3,"T,HAZ_NHAZ,A,TOTAL,BG",722228,632966,754286,618107,903119,835401,617689,308760
4,"T,HAZ_NHAZ,A,TOTAL,CY",378416,131541,126651,129184,18203,19856,19453,19783
...,...,...,...,...,...,...,...,...,...
424,"T,HAZ_NHAZ,TOTAL_HH,TOTAL,SI",5770505,6035829,5038401,5986106,4546506,4686417,5494362,8220679
425,"T,HAZ_NHAZ,TOTAL_HH,TOTAL,SK",10668411,14501495,11472008,9384112,8425384,8862778,10606966,12401870
426,"T,HAZ_NHAZ,TOTAL_HH,TOTAL,TR",58820312,46091628,64764502,63540624,67383777,73075119,75534645,97294071
427,"T,HAZ_NHAZ,TOTAL_HH,TOTAL,UK",298798846,291147402,282222127,241820047,241690407,263319476,277254977,282209756
428,"T,HAZ_NHAZ,TOTAL_HH,TOTAL,XK",:,:,:,:,1166619,1039803,2855990,:

## Split de la première colonne

In [5]:
first_col = df[['freq,unit,hazard,nace_r2,waste,geo\TIME_PERIOD']]
first_col

KeyError: "None of [Index(['freq,unit,hazard,nace_r2,waste,geo\\TIME_PERIOD'], dtype='object')] are in the [columns]"

In [26]:
first_col[['freq','unit','hazard','nace_r2','waste','geo\TIME_PERIOD']] = first_col['freq,unit,hazard,nace_r2,waste,geo\TIME_PERIOD'].str.split(",",expand=True,)
first_col

/home/chloeronteix/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,"freq,unit,hazard,nace_r2,waste,geo\TIME_PERIOD",freq,unit,hazard,nace_r2,waste,geo\TIME_PERIOD
0,"A,T,HAZ_NHAZ,A,TOTAL,AT",A,T,HAZ_NHAZ,A,TOTAL,AT
1,"A,T,HAZ_NHAZ,A,TOTAL,BA",A,T,HAZ_NHAZ,A,TOTAL,BA
2,"A,T,HAZ_NHAZ,A,TOTAL,BE",A,T,HAZ_NHAZ,A,TOTAL,BE
3,"A,T,HAZ_NHAZ,A,TOTAL,BG",A,T,HAZ_NHAZ,A,TOTAL,BG
4,"A,T,HAZ_NHAZ,A,TOTAL,CY",A,T,HAZ_NHAZ,A,TOTAL,CY
...,...,...,...,...,...,...,...
424,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,SI",A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,SI
425,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,SK",A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,SK
426,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,TR",A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,TR
427,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,UK",A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,UK
428,"A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,XK",A,T,HAZ_NHAZ,TOTAL_HH,TOTAL,XK

In [27]:
newcol = first_col[['freq','unit','hazard','nace_r2','waste','geo\TIME_PERIOD']]
newcol = newcol.drop(columns=['freq','unit','hazard','waste'])
newcol.rename(columns={'geo\TIME_PERIOD':'country'}, inplace=True)
newcol

      nace_r2 country
0           A      AT
1           A      BA
2           A      BE
3           A      BG
4           A      CY
..        ...     ...
424  TOTAL_HH      SI
425  TOTAL_HH      SK
426  TOTAL_HH      TR
427  TOTAL_HH      UK
428  TOTAL_HH      XK

[429 rows x 2 columns]

In [28]:
df_waste = pd.concat([df, newcol], axis=1)
df_waste = df_waste.drop(columns=['freq,unit,hazard,nace_r2,waste,geo\TIME_PERIOD'])
df_waste

,2004,2006,2008,2010,2012,2014,2016,2018,nace_r2,country
0,468629,512872,459096,550439,179044,128124,129834,139870,A,AT
1,:,:,:,:,0,0,0,0,A,BA
2,1186648,361827,287656,225622,165463,311835,269190,441047,A,BE
3,722228,632966,754286,618107,903119,835401,617689,308760,A,BG
4,378416,131541,126651,129184,18203,19856,19453,19783,A,CY
...,...,...,...,...,...,...,...,...,...,...
424,5770505,6035829,5038401,5986106,4546506,4686417,5494362,8220679,TOTAL_HH,SI
425,10668411,14501495,11472008,9384112,8425384,8862778,10606966,12401870,TOTAL_HH,SK
426,58820312,46091628,64764502,63540624,67383777,73075119,75534645,97294071,TOTAL_HH,TR
427,298798846,291147402,282222127,241820047,241690407,263319476,277254977,282209756,TOTAL_HH,UK
428,:,:,:,:,1166619,1039803,2855990,:,TOTAL_HH,XK

In [29]:
df_waste.columns

Index(['2004 ', '2006 ', '2008 ', '2010 ', '2012 ', '2014 ', '2016 ', '2018 ',
       'nace_r2', 'country'],
      dtype='object')

In [30]:
# test de création d'un sous dataframe
df_2004 = df_waste[['2004 ','nace_r2','country']]
df_2004.rename(columns={'2004 ':'quantite(Tonne)'}, inplace=True)
df_2004['annee'] = 2004
df_2004

/home/chloeronteix/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/home/chloeronteix/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    quantite(Tonne)   nace_r2 country  annee
0           468629          A      AT   2004
1                :          A      BA   2004
2          1186648          A      BE   2004
3           722228          A      BG   2004
4           378416          A      CY   2004
..              ...       ...     ...    ...
424        5770505   TOTAL_HH      SI   2004
425       10668411   TOTAL_HH      SK   2004
426       58820312   TOTAL_HH      TR   2004
427      298798846   TOTAL_HH      UK   2004
428              :   TOTAL_HH      XK   2004

[429 rows x 4 columns]

## Création des sous dataframe

In [2]:
df_global = []
for i in range(2004,2020,2):
    df_i = df_waste[[f'{i} ','nace_r2','country']]
    df_i.rename(columns={f'{i} ':'quantite(Tonne)'}, inplace=True)
    df_i['annee'] = i
    df_global.append(df_i)
df_global[0]

NameError: name 'df_waste' is not defined

In [33]:
len(df_global)

8

## Concatenation des sous dataframe puis création de la table

In [34]:
df_waste_final =pd.concat([df_global[0],df_global[1],df_global[2],df_global[3],df_global[4],df_global[5],df_global[6],df_global[7]])
df_waste_final.rename(columns={'nace_r2':'code_act_eco','country':'pays'}, inplace=True)

In [ ]:
df_waste_final.to_csv('table_dechet.tsv', index=False, header=['quantite(Tonne)','code_act_eco','pays','annee'], sep='\t')

# Table recyclage - t2020_rt120+ESTAT.tsv + t2020_rt130+ESTAT.tsv

## taux de recyclage des déchets municipaux - t2020_rt120+ESTAT.tsv

In [12]:
df = pd.read_csv('t2020_rt120+ESTAT.tsv', sep='\t')
df.head()

,"freq,wst_oper,unit,geo\TIME_PERIOD",1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,"A,RCY,PC,AT",50.5,62.1,63.5,64.4,63.5,63.4,64.3 e,62.5 e,64.2 e,...,61.9,59.4,56.7,57.7,57.7,56.3,56.9,57.6,57.7,57.7
1,"A,RCY,PC,BA",:,:,:,:,:,:,:,:,:,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,:
2,"A,RCY,PC,BE",19.1,25.2,34.4,41.9,46.1,49.7,50.4,51.5,52.9,...,53.9,54.8,54.4,53.4,52.8,53.8,53.5,53.5,53.9,54.6
3,"A,RCY,PC,BG",0.0,0.0,0.0,15.9 e,15.7 e,15.5 e,16.1 e,16.3 e,16.5 e,...,19.9 e,24.5,26.2,25.0,28.5,23.1,29.4,31.8,34.6,31.5
4,"A,RCY,PC,CH",38.7,41.2,42.5,43.7,42.9,45.3,46.6,46.7,47.5,...,51.3,50.5,50.1,50.0 e,51.0 e,53.5 e,52.7 e,52.5 e,52.5 e,52.5 e

### Split de la premiere colonne

In [13]:
first_col = df[['freq,wst_oper,unit,geo\TIME_PERIOD']]
first_col

   freq,wst_oper,unit,geo\TIME_PERIOD
0                         A,RCY,PC,AT
1                         A,RCY,PC,BA
2                         A,RCY,PC,BE
3                         A,RCY,PC,BG
4                         A,RCY,PC,CH
5                         A,RCY,PC,CY
6                         A,RCY,PC,CZ
7                         A,RCY,PC,DE
8                         A,RCY,PC,DK
9                         A,RCY,PC,EE
10                        A,RCY,PC,EL
11                        A,RCY,PC,ES
12                 A,RCY,PC,EU27_2007
13                 A,RCY,PC,EU27_2020
14                      A,RCY,PC,EU28
15                        A,RCY,PC,FI
16                        A,RCY,PC,FR
17                        A,RCY,PC,HR
18                        A,RCY,PC,HU
19                        A,RCY,PC,IE
20                        A,RCY,PC,IS
21                        A,RCY,PC,IT
22                        A,RCY,PC,LT
23                        A,RCY,PC,LU
24                        A,RCY,PC,LV
25                        A,RCY,PC,ME
26                        A,RCY,PC,MK
27                        A,RCY,PC,MT
28                        A,RCY,PC,NL
29                        A,RCY,PC,NO
30                        A,RCY,PC,PL
31                        A,RCY,PC,PT
32                        A,RCY,PC,RO
33                        A,RCY,PC,RS
34                        A,RCY,PC,SE
35                        A,RCY,PC,SI
36                        A,RCY,PC,SK
37                        A,RCY,PC,TR
38                        A,RCY,PC,UK

In [14]:
first_col[['freq','wst_oper','unit','geo\TIME_PERIOD']] = first_col['freq,wst_oper,unit,geo\TIME_PERIOD'].str.split(",",expand=True,)
first_col

/home/chloeronteix/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

   freq,wst_oper,unit,geo\TIME_PERIOD freq wst_oper unit geo\TIME_PERIOD
0                         A,RCY,PC,AT    A      RCY   PC              AT
1                         A,RCY,PC,BA    A      RCY   PC              BA
2                         A,RCY,PC,BE    A      RCY   PC              BE
3                         A,RCY,PC,BG    A      RCY   PC              BG
4                         A,RCY,PC,CH    A      RCY   PC              CH
5                         A,RCY,PC,CY    A      RCY   PC              CY
6                         A,RCY,PC,CZ    A      RCY   PC              CZ
7                         A,RCY,PC,DE    A      RCY   PC              DE
8                         A,RCY,PC,DK    A      RCY   PC              DK
9                         A,RCY,PC,EE    A      RCY   PC              EE
10                        A,RCY,PC,EL    A      RCY   PC              EL
11                        A,RCY,PC,ES    A      RCY   PC              ES
12                 A,RCY,PC,EU27_2007    A      RCY   PC       EU27_2007
13                 A,RCY,PC,EU27_2020    A      RCY   PC       EU27_2020
14                      A,RCY,PC,EU28    A      RCY   PC            EU28
15                        A,RCY,PC,FI    A      RCY   PC              FI
16                        A,RCY,PC,FR    A      RCY   PC              FR
17                        A,RCY,PC,HR    A      RCY   PC              HR
18                        A,RCY,PC,HU    A      RCY   PC              HU
19                        A,RCY,PC,IE    A      RCY   PC              IE
20                        A,RCY,PC,IS    A      RCY   PC              IS
21                        A,RCY,PC,IT    A      RCY   PC              IT
22                        A,RCY,PC,LT    A      RCY   PC              LT
23                        A,RCY,PC,LU    A      RCY   PC              LU
24                        A,RCY,PC,LV    A      RCY   PC              LV
25                        A,RCY,PC,ME    A      RCY   PC              ME
26                        A,RCY,PC,MK    A      RCY   PC              MK
27                        A,RCY,PC,MT    A      RCY   PC              MT
28                        A,RCY,PC,NL    A      RCY   PC              NL
29                        A,RCY,PC,NO    A      RCY   PC              NO
30                        A,RCY,PC,PL    A      RCY   PC              PL
31                        A,RCY,PC,PT    A      RCY   PC              PT
32                        A,RCY,PC,RO    A      RCY   PC              RO
33                        A,RCY,PC,RS    A      RCY   PC              RS
34                        A,RCY,PC,SE    A      RCY   PC              SE
35                        A,RCY,PC,SI    A      RCY   PC              SI
36                        A,RCY,PC,SK    A      RCY   PC              SK
37                        A,RCY,PC,TR    A      RCY   PC              TR
38                        A,RCY,PC,UK    A      RCY   PC              UK

In [15]:
newcol = first_col[['freq','wst_oper','unit','geo\TIME_PERIOD']]
newcol = newcol.drop(columns=['freq','wst_oper','unit'])
newcol.rename(columns={'geo\TIME_PERIOD':'country'}, inplace=True)
newcol

      country
0          AT
1          BA
2          BE
3          BG
4          CH
5          CY
6          CZ
7          DE
8          DK
9          EE
10         EL
11         ES
12  EU27_2007
13  EU27_2020
14       EU28
15         FI
16         FR
17         HR
18         HU
19         IE
20         IS
21         IT
22         LT
23         LU
24         LV
25         ME
26         MK
27         MT
28         NL
29         NO
30         PL
31         PT
32         RO
33         RS
34         SE
35         SI
36         SK
37         TR
38         UK

In [16]:
df_recyc = pd.concat([df, newcol], axis=1)
df_recyc = df_recyc.drop(columns=['freq,wst_oper,unit,geo\TIME_PERIOD'])
df_recyc

,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,country
0,50.5,62.1,63.5,64.4,63.5,63.4,64.3 e,62.5 e,64.2 e,57.4,...,59.4,56.7,57.7,57.7,56.3,56.9,57.6,57.7,57.7,AT
1,:,:,:,:,:,:,:,:,:,:,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,:,BA
2,19.1,25.2,34.4,41.9,46.1,49.7,50.4,51.5,52.9,53.5,...,54.8,54.4,53.4,52.8,53.8,53.5,53.5,53.9,54.6,BE
3,0.0,0.0,0.0,15.9 e,15.7 e,15.5 e,16.1 e,16.3 e,16.5 e,17.2 e,...,24.5,26.2,25.0,28.5,23.1,29.4,31.8,34.6,31.5,BG
4,38.7,41.2,42.5,43.7,42.9,45.3,46.6,46.7,47.5,48.7,...,50.5,50.1,50.0 e,51.0 e,53.5 e,52.7 e,52.5 e,52.5 e,52.5 e,CH
5,0.0,2.8,3.2,2.9,3.1,3.0,3.1,3.2,3.1,3.2,...,10.7,12.6,13.6,14.6,16.8,17.9,17.2 e,16.1 e,:,CY
6,0.0,0.0,0.0,0.6,0.9,0.9,0.9,0.9,0.9,5.5 e,...,15.8 e,17.0 e,23.2 e,24.2 e,25.4 e,29.7 e,33.6 e,34.1 e,34.5 e,CZ
7,39.4 s,42.2 s,44.1 s,45.6 s,51.1 s,52.5 s,52.3 s,56.1,57.8,56.4,...,62.5,63.0,65.2,63.8,65.6,66.7,67.1,67.2,67.3 e,DE
8,25.2 e,37.0,35.4,36.0,38.9,37.1,36.1,37.6,40.9,41.0,...,:,42.4,42.5,43.3,45.4,47.4,48.3,47.6,49.9,DK
9,0.6,0.2,0.2,0.2,0.0,2.4,5.1,2.7,15.0,24.8,...,18.2,23.3,19.1,17.9,31.3,28.3,28.1,28.4,28.0,EE
10,:,:,9.2,8.9,8.9,8.8,8.8,8.8,8.1,10.1,...,17.1,17.8,17.0,15.8,15.4,15.8,17.2,18.9,:,EL
11,7.0,7.8,8.4,9.2,14.2,18.4,21.4,29.3,28.7,30.9,...,29.2,26.7,29.8,32.5,30.8,30.0,33.9,36.1,36.0 e,ES
12,:,:,:,:,:,25.3 s,26.5 s,28.4 s,29.4 s,30.7 s,...,38.5 s,39.5 s,41.3 s,41.9 s,43.6 s,44.9 s,46.2 s,46.7 s,47.2 s,EU27_2007
13,18.8 s,20.9 s,22.5 s,24.0 s,26.0 s,27.3 s,28.7 s,30.4 s,31.1 s,31.8 s,...,38.0 s,38.9 s,40.9 s,41.5 s,43.4 s,44.9 s,46.3 s,46.9 s,47.4 s,EU27_2020
14,17.3 s,19.0 s,20.5 s,22.0 s,23.9 s,25.2 s,26.4 s,28.2 s,29.3 s,30.5 s,...,38.3 s,39.3 s,41.1 s,41.7 s,43.4 s,44.7 s,46.0 s,46.5 s,47.0 s,EU28
15,33.6,33.6,33.6,33.6,33.6,33.6,33.6,33.6,33.6,33.6,...,32.8,34.8,33.3,32.5,32.5,40.6,42.0,40.5,42.3,FI
16,17.7,18.7,20.0,21.8,22.9,24.5,26.1,27.3,28.0,29.0,...,36.0 e,36.8,37.7 e,38.7,39.7 e,40.7,41.9 e,43.0,44.0 e,FR
17,:,:,0.0 e,:,:,:,:,:,:,:,...,4.0,8.3,14.7,14.9,16.5,18.0,21.0,23.6,25.3,HR
18,1.6,1.6,1.6,1.6,1.6,1.6,1.6,2.5,3.5,11.8,...,19.6,22.0,25.5,26.4,30.5,32.2,34.7,35.0,37.4,HU
19,:,:,:,8.1,:,11.9,11.3,18.3,23.6,29.5,...,35.7,36.1,36.6,:,39.8,:,40.7,40.4,:,IE
20,7.9,9.4,8.3,10.6,12.7,15.4,15.8,16.1,16.4,:,...,20.8,25.3,28.0,29.9,29.7,28.2,33.2,25.8,:,IS
21,4.8,6.4,9.3,11.0,12.1,14.2,17.8,14.8,16.3,17.6,...,31.0,35.5,38.4,39.4,41.6,44.3,45.9,47.8,49.8,IT
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.9 s,...,4.9,19.9,23.5,27.8,30.5,33.1,48.0,48.1,52.5,LT
23,20.0,20.2,26.9,30.8,30.6,36.1,37.2,38.1,42.5,41.5,...,46.5,46.4,47.4,46.6,47.7,47.4,48.2,50.4,50.1 e,LU
24,0.0 e,0.0 e,0.0 e,0.0 e,0.0 e,0.0 e,0.4 e,0.4,2.3,4.6,...,9.4,9.7,14.7,25.9,27.0,28.7,25.2,24.8,25.2,LV
25,:,:,:,:,:,:,:,:,:,:,...,:,0.9,2.6,3.2,5.0,4.5,:,3.5,5.5,ME
26,:,:,:,:,:,:,:,:,:,:,...,:,0.0,:,:,:,:,:,:,:,MK
27,13.7 e,12.2 e,10.8 e,9.6 e,7.2,10.1,9.0,5.1,6.5,6.4,...,5.2,9.0,9.7,8.5,7.4,6.7,7.0,7.1,6.5,MT
28,39.7,41.5,43.6,43.9,43.8,44.1,43.7,45.3,45.6,46.9,...,49.2,49.1,49.4,49.8,50.9,51.8,53.5,54.6,55.9,NL
29,13.7,19.9,24.7,22.4,29.5,30.6,44.3,45.4,45.8,36.5,...,42.1,39.9,39.8,39.2,42.2,42.8,38.2,38.8,40.7,NO
30,1.8,1.9,3.0,2.0,2.0,2.1,4.1,3.1,2.8,4.9,...,16.3 e,11.4 e,12.0 e,15.1 e,26.5 e,32.5 e,34.8 e,33.8 e,34.3 e,PL
31,9.7,9.8,9.9,10.3,10.7,10.5,11.9,7.6,10.9,13.5,...,18.7,20.1,26.1,25.8,30.4,29.8,30.9,28.4,28.9,PT
32,0.0,0.0,0.0,0.0,0.0,0.0 e,1.6 e,2.0 e,0.2 e,1.1 e,...,12.8,11.7,14.8,13.2,13.1,13.2,13.3,14.0,11.1,RO
33,:,:,:,:,:,:,:,:,:,:,...,0.0,0.0,0.0,1.0,0.7,0.8,0.3,0.3,0.3,RS
34,26.3,30.4,32.6,35.3,37.5,38.5,39.0,39.7,41.3,43.9,...,47.8,47.0,46.9,48.2,49.3,47.5,48.4,46.8,45.8,SE
35,2.0,5.3,6.0,9.6,6.3,6.0,2.7,9.0,12.6,20.4,...,22.4,35.6,41.9,34.8,36.0,54.1 e,55.6 e,57.8 e,58.9 e,SI
36,2.8 s,2.8 s,5.0 e,4.7,4.8,5.1,5.4,4.8,5.6,6.2,...,9.1,10.8,13.4,10.8,10.3,14.9,23.0,29.8,36.3,SK
37,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,9.2 e,9.2 e,11.5 e,TR
38,:,:,:,:,:,11.1,12.4,14.5,18.1,22.6,...,40.2,42.0,42.6,43.2,43.4,43.3,44.0,43.8,44.1,UK

### Creation sous dataframe

In [17]:
df_global = []
for i in range(1995,2019):
    df_i = df_recyc[[f'{i} ','country']]
    df_i.rename(columns={f'{i} ':'taux_recyclage_pourcentage'}, inplace=True)
    df_i['annee'] = i
    df_global.append(df_i)
df_global[-1]

/home/chloeronteix/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/home/chloeronteix/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   taux_recyclage_pourcentage    country  annee
0                       57.7          AT   2018
1                          :          BA   2018
2                       54.6          BE   2018
3                       31.5          BG   2018
4                      52.5 e         CH   2018
5                          :          CY   2018
6                      34.5 e         CZ   2018
7                      67.3 e         DE   2018
8                       49.9          DK   2018
9                       28.0          EE   2018
10                         :          EL   2018
11                     36.0 e         ES   2018
12                     47.2 s  EU27_2007   2018
13                     47.4 s  EU27_2020   2018
14                     47.0 s       EU28   2018
15                      42.3          FI   2018
16                     44.0 e         FR   2018
17                      25.3          HR   2018
18                      37.4          HU   2018
19                         :          IE   2018
20                         :          IS   2018
21                      49.8          IT   2018
22                      52.5          LT   2018
23                     50.1 e         LU   2018
24                      25.2          LV   2018
25                       5.5          ME   2018
26                         :          MK   2018
27                       6.5          MT   2018
28                      55.9          NL   2018
29                      40.7          NO   2018
30                     34.3 e         PL   2018
31                      28.9          PT   2018
32                      11.1          RO   2018
33                       0.3          RS   2018
34                      45.8          SE   2018
35                     58.9 e         SI   2018
36                      36.3          SK   2018
37                     11.5 e         TR   2018
38                      44.1          UK   2018

In [18]:
len(df_global)

24

In [19]:
df_recyc_final =pd.concat([df_global[0],df_global[1],df_global[2],df_global[3],df_global[4],
                           df_global[5],df_global[6],df_global[7],df_global[5],df_global[6],df_global[7],
                          df_global[8],df_global[9],df_global[10],df_global[11],
                          df_global[12],df_global[13],df_global[14],df_global[15],
                          df_global[16],df_global[17],df_global[18],df_global[19],
                          df_global[20],df_global[21],df_global[22],df_global[23]])
df_recyc_final.rename(columns={'country':'pays'}, inplace=True)
df_recyc_final

   taux_recyclage_pourcentage pays  annee
0                       50.5    AT   1995
1                          :    BA   1995
2                       19.1    BE   1995
3                        0.0    BG   1995
4                       38.7    CH   1995
..                        ...  ...    ...
34                      45.8    SE   2018
35                     58.9 e   SI   2018
36                      36.3    SK   2018
37                     11.5 e   TR   2018
38                      44.1    UK   2018

[1053 rows x 3 columns]

In [20]:
#df_recyc_final.to_csv('table_recyclage_dechet_municipaux.tsv', index=False, header=['taux_recyclage_pourcentage','pays','annee'], sep='\t')

## taux recyclage e-dechet - t2020_rt130+ESTAT.tsv

In [3]:
df = pd.read_csv('t2020_rt130+ESTAT.tsv', sep='\t')
df.head()

,"freq,wst_oper,unit,geo\TIME_PERIOD",2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,"A,RCY_RT,PC,AT",46,36.1,35.7,37.1,38.2,37.6,39.1,40.7,41,50.1,46
1,"A,RCY_RT,PC,BE",28.3 s,30.8 s,30.4,31.9,32,31.7,29.6,33.8,38.3,36.7,39.3
2,"A,RCY_RT,PC,BG",:,:,40.8 d,49.4 d,62.4,60.2,68.3 d,96.5 d,105.2 d,68.8 d,:
3,"A,RCY_RT,PC,CY",:,10.9 s,11.5 e,11.5 de,12.2 d,12.1,17,27 d,27.1 d,50.2 d,:
4,"A,RCY_RT,PC,CZ",:,:,22.7,26,27.1,28.5,29.3,37.9,54,53.2,43.6

In [4]:
first_col = df[['freq,wst_oper,unit,geo\TIME_PERIOD']]
first_col

   freq,wst_oper,unit,geo\TIME_PERIOD
0                      A,RCY_RT,PC,AT
1                      A,RCY_RT,PC,BE
2                      A,RCY_RT,PC,BG
3                      A,RCY_RT,PC,CY
4                      A,RCY_RT,PC,CZ
5                      A,RCY_RT,PC,DE
6                      A,RCY_RT,PC,DK
7                      A,RCY_RT,PC,EE
8                      A,RCY_RT,PC,EL
9                      A,RCY_RT,PC,ES
10              A,RCY_RT,PC,EU27_2020
11                   A,RCY_RT,PC,EU28
12                     A,RCY_RT,PC,FI
13                     A,RCY_RT,PC,FR
14                     A,RCY_RT,PC,HR
15                     A,RCY_RT,PC,HU
16                     A,RCY_RT,PC,IE
17                     A,RCY_RT,PC,IS
18                     A,RCY_RT,PC,IT
19                     A,RCY_RT,PC,LI
20                     A,RCY_RT,PC,LT
21                     A,RCY_RT,PC,LU
22                     A,RCY_RT,PC,LV
23                     A,RCY_RT,PC,MT
24                     A,RCY_RT,PC,NL
25                     A,RCY_RT,PC,NO
26                     A,RCY_RT,PC,PL
27                     A,RCY_RT,PC,PT
28                     A,RCY_RT,PC,RO
29                     A,RCY_RT,PC,SE
30                     A,RCY_RT,PC,SI
31                     A,RCY_RT,PC,SK
32                     A,RCY_RT,PC,UK

In [5]:
first_col[['freq','wst_oper','unit','geo\TIME_PERIOD']] = first_col['freq,wst_oper,unit,geo\TIME_PERIOD'].str.split(",",expand=True,)
first_col

/home/chloeronteix/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

   freq,wst_oper,unit,geo\TIME_PERIOD freq wst_oper unit geo\TIME_PERIOD
0                      A,RCY_RT,PC,AT    A   RCY_RT   PC              AT
1                      A,RCY_RT,PC,BE    A   RCY_RT   PC              BE
2                      A,RCY_RT,PC,BG    A   RCY_RT   PC              BG
3                      A,RCY_RT,PC,CY    A   RCY_RT   PC              CY
4                      A,RCY_RT,PC,CZ    A   RCY_RT   PC              CZ
5                      A,RCY_RT,PC,DE    A   RCY_RT   PC              DE
6                      A,RCY_RT,PC,DK    A   RCY_RT   PC              DK
7                      A,RCY_RT,PC,EE    A   RCY_RT   PC              EE
8                      A,RCY_RT,PC,EL    A   RCY_RT   PC              EL
9                      A,RCY_RT,PC,ES    A   RCY_RT   PC              ES
10              A,RCY_RT,PC,EU27_2020    A   RCY_RT   PC       EU27_2020
11                   A,RCY_RT,PC,EU28    A   RCY_RT   PC            EU28
12                     A,RCY_RT,PC,FI    A   RCY_RT   PC              FI
13                     A,RCY_RT,PC,FR    A   RCY_RT   PC              FR
14                     A,RCY_RT,PC,HR    A   RCY_RT   PC              HR
15                     A,RCY_RT,PC,HU    A   RCY_RT   PC              HU
16                     A,RCY_RT,PC,IE    A   RCY_RT   PC              IE
17                     A,RCY_RT,PC,IS    A   RCY_RT   PC              IS
18                     A,RCY_RT,PC,IT    A   RCY_RT   PC              IT
19                     A,RCY_RT,PC,LI    A   RCY_RT   PC              LI
20                     A,RCY_RT,PC,LT    A   RCY_RT   PC              LT
21                     A,RCY_RT,PC,LU    A   RCY_RT   PC              LU
22                     A,RCY_RT,PC,LV    A   RCY_RT   PC              LV
23                     A,RCY_RT,PC,MT    A   RCY_RT   PC              MT
24                     A,RCY_RT,PC,NL    A   RCY_RT   PC              NL
25                     A,RCY_RT,PC,NO    A   RCY_RT   PC              NO
26                     A,RCY_RT,PC,PL    A   RCY_RT   PC              PL
27                     A,RCY_RT,PC,PT    A   RCY_RT   PC              PT
28                     A,RCY_RT,PC,RO    A   RCY_RT   PC              RO
29                     A,RCY_RT,PC,SE    A   RCY_RT   PC              SE
30                     A,RCY_RT,PC,SI    A   RCY_RT   PC              SI
31                     A,RCY_RT,PC,SK    A   RCY_RT   PC              SK
32                     A,RCY_RT,PC,UK    A   RCY_RT   PC              UK

In [6]:
newcol = first_col[['freq','wst_oper','unit','geo\TIME_PERIOD']]
newcol = newcol.drop(columns=['freq','wst_oper','unit'])
newcol.rename(columns={'geo\TIME_PERIOD':'country'}, inplace=True)
newcol

      country
0          AT
1          BE
2          BG
3          CY
4          CZ
5          DE
6          DK
7          EE
8          EL
9          ES
10  EU27_2020
11       EU28
12         FI
13         FR
14         HR
15         HU
16         IE
17         IS
18         IT
19         LI
20         LT
21         LU
22         LV
23         MT
24         NL
25         NO
26         PL
27         PT
28         RO
29         SE
30         SI
31         SK
32         UK

In [7]:
df_e_recyc = pd.concat([df, newcol], axis=1)
df_e_recyc = df_e_recyc.drop(columns=['freq,wst_oper,unit,geo\TIME_PERIOD'])
df_e_recyc

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,country
0,46,36.1,35.7,37.1,38.2,37.6,39.1,40.7,41,50.1,46,AT
1,28.3 s,30.8 s,30.4,31.9,32,31.7,29.6,33.8,38.3,36.7,39.3,BE
2,:,:,40.8 d,49.4 d,62.4,60.2,68.3 d,96.5 d,105.2 d,68.8 d,:,BG
3,:,10.9 s,11.5 e,11.5 de,12.2 d,12.1,17,27 d,27.1 d,50.2 d,:,CY
4,:,:,22.7,26,27.1,28.5,29.3,37.9,54,53.2,43.6,CZ
5,:,38.1,37.8,34.4,34.8 d,35.6 d,36.9 d,33.9,39,38.7,36.9,DE
6,:,39,41,50.1,46.5,37.6,42.3,43,41.4,38.5,67.5,DK
7,:,22.4,30.3,36.9,35.9,27.8,35.7,43.8,51.8,50.6,53.7,EE
8,21.6,29,19.4,19 d,18.6 de,22.1 de,29 de,32.7 e,34.2 de,32.9 de,35.8 d,EL
9,:,12.6 s,14.7,16.7,19,26.1,26.2,35.6,37.4,41,43,ES
10,:,:,27.9 s,29.5 s,30 s,30.9 s,32.8,35.7,39.5 s,39.5 s,34.8 s,EU27_2020
11,:,:,27.8 s,28.7 s,28.8 s,29.6 s,32.2,35.8,41.3 s,40 s,38.4 s,EU28
12,37.9,29.9,28.7,31,32.8,36.3,42.4,43.2,42.1,48.2,49.2,FI
13,:,19.2,21.8,22.6,22.6,23.6,26.3,32.2,37.1,36.6,34.5,FR
14,:,:,:,:,:,:,35.7,58.3,89.2,81.3,83.4,HR
15,28.3,29.5,26,25.3,30.8,40,47.7,50.7,53.4,51.1,:,HU
16,:,:,30.9,32.5,36.1,38.6,43.1,46.1 de,49.5,47.7,53.6,IE
17,:,:,:,:,25.9,23,34,47.2,45.6,59.9,:,IS
18,:,:,27.8 d,29.8 d,27.7 d,26.3 d,27.3,32.1,:,:,:,IT
19,:,:,:,:,:,:,117.8 d,127.1 d,111.9 d,81.6 d,89.8 d,LI
20,15.2,10.5,16.6,28.2,41.1,43.8,64.6,45.9,38.9,35.1,:,LT
21,36.6 s,38,33,30.6,27.6,29.3,35.4,42.5,45.6,45.5,44.1,LU
22,:,:,14.5,19.9,26.5,27.8,26.4,23.1,23.2,40.6,43.3,LV
23,:,12.1,13.1,9.7,9.9,11,11.5,13.1,15.9,20.8,:,MT
24,22.5 s,22 s,27.8 s,33 s,33.2 s,31.3 s,38.1 s,39.3,40.4 e,43.3,41,NL
25,35.4 e,46.9,45.3,48.4,46.4,46.5,47.5,50.4,49.3,49.3,43.9,NO
26,:,13.9,17.7,23.9,30.4,28.1,27.4 d,33.1 d,38.9 d,36.1,:,PL
27,21.8 s,24 s,22.8,30.5,24.9,32.3,38.2,42.7,45.8 d,43.5,:,PT
28,:,17 s,12,10.3,14.5,21,21.3,22.5,25,:,:,RO
29,62.4 s,52.2 s,55.3 s,64.9,62.6,64.9,52.7,51.6,55.4,47,45.4,SE
30,:,17.6,22,26.4,26.9,16.7,27.5,47.7,39.3 s,32.5 s,:,SI
31,31.8,34.2,34.9,39.6,42.6,41.7,44.1,40.3,50.3 e,46.5,:,SK
32,:,:,26.9 ds,23.9 s,22.5 s,22.8 ds,29.6 d,36.6 d,49.8 d,42.2 d,67,UK

In [8]:
df_global = [] # création d'une liste vide qui contiendra tous les sous-dataframe
for i in range(2008,2019):
    df_i = df_e_recyc[[f'{i} ','country']] # le sous-dataframe contenant les deux colonnes d'intérêt
    # on renomme la colonne année
    df_i.rename(columns={f'{i} ':'taux_e_recyclage_pourcentage'}, inplace=True)
    # on crée une colonne contenant l'année
    df_i['annee'] = i
    df_global.append(df_i) # on ajoute ce sous-dataframe à la liste
df_global[-1]

/home/chloeronteix/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/home/chloeronteix/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   taux_e_recyclage_pourcentage    country  annee
0                           46          AT   2018
1                         39.3          BE   2018
2                            :          BG   2018
3                            :          CY   2018
4                         43.6          CZ   2018
5                         36.9          DE   2018
6                         67.5          DK   2018
7                         53.7          EE   2018
8                        35.8 d         EL   2018
9                           43          ES   2018
10                       34.8 s  EU27_2020   2018
11                       38.4 s       EU28   2018
12                        49.2          FI   2018
13                        34.5          FR   2018
14                        83.4          HR   2018
15                           :          HU   2018
16                        53.6          IE   2018
17                           :          IS   2018
18                           :          IT   2018
19                       89.8 d         LI   2018
20                           :          LT   2018
21                        44.1          LU   2018
22                        43.3          LV   2018
23                           :          MT   2018
24                          41          NL   2018
25                        43.9          NO   2018
26                           :          PL   2018
27                           :          PT   2018
28                           :          RO   2018
29                        45.4          SE   2018
30                           :          SI   2018
31                           :          SK   2018
32                          67          UK   2018

In [9]:
len(df_global)

11

In [10]:
df_e_recyc_final =pd.concat([df_global[0],df_global[1],df_global[2],df_global[3],df_global[4],
                           df_global[5],df_global[6],df_global[7],df_global[5],df_global[6],df_global[7],
                          df_global[8],df_global[9],df_global[10]])
df_e_recyc_final.rename(columns={'country':'pays'}, inplace=True)
df_e_recyc_final

   taux_e_recyclage_pourcentage pays  annee
0                           46    AT   2008
1                        28.3 s   BE   2008
2                            :    BG   2008
3                            :    CY   2008
4                            :    CZ   2008
..                          ...  ...    ...
28                           :    RO   2018
29                        45.4    SE   2018
30                           :    SI   2018
31                           :    SK   2018
32                          67    UK   2018

[462 rows x 3 columns]

In [11]:
#df_e_recyc_final.to_csv('table_recyclage_e_dechet.tsv', index=False, header=['taux_e_recyclage_pourcentage','pays','annee'], sep='\t')